<h2 class="center">
  <%= t('.title').html_safe %>
</h2>

<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-md-6 fr-col-offset-md-3 fr-col-12 center">
      <div class="fr-connect-group">
        <%= form_with(url: oauth_url, method: :post, data: { turbo: false }) do |f| %>
          <%= f.button class: %w(fr-connect fr-connect-moncomptepro fr-m-auto), id: 'login_mon_compte_pro' do %>
            <span class="fr-connect__login">S’identifier avec</span>
            <span class="fr-connect__brand">MonComptePro</span>
          <% end %>
            <p>
              <a href="https://moncomptepro.beta.gouv.fr/" target="_blank"  rel="noopener" title="Qu’est-ce que MonComptePro ? - Nouvelle fenêtre">
                Qu’est-ce que MonComptePro ?
              </a>
            </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="fr-grid-row">
    <div class="fr-col-md-6 fr-col-offset-md-3 fr-col-12 center">
      <p class="fr-mt-3w fr-mb-0"><%= t('.faq', link: link_to(t('.faq_link'), faq_index_path(anchor: 'comment-se-connecter-a-l-espace-utilisateur'))).html_safe %></p>
    </div>
  </div>
</div>
