<div class="fr-header__search fr-modal" id="modal-866">
  <div class="fr-container fr-container-lg--fluid">
    <button class="fr-link--close fr-link" aria-controls="modal-866">
      Fermer
    </button>

    <div class="fr-search-bar" id="search-865" role="search">
      <label class="fr-label" for="search-865-input">
        Recherche
      </label>
      <input class="fr-input" placeholder="Rechercher" type="search" id="search-865-input" name="search-865-input">
      <button class="fr-btn" title="Rechercher">
        Rechercher
      </button>
    </div>
  </div>
</div>
