<div class="fr-header__tools-links">
  <ul class="fr-links-group">
    <li>
      <a class="fr-link fr-fi-<%= t('.links.notification.icon') %>" href="#">
        <%= t('.links.notification.title') %>
      </a>
    </li>
    <li>
      <a class="fr-link fr-fi-<%= t('.links.faq_contact.icon') %>" href="#">
        <%= t('.links.faq_contact.title') %>
      </a>
    </li>
  </ul>
</div>

