<a
  href="<%= token_path(id: token.id) %>"
  id="show-token-modal-link"
  class="fr-btn fr-btn--secondary fr-icon-eye-fill fr-btn--icon-right fr-mt-2w"
  aria-controls="main-modal"
  data-fr-opened="false"
  data-turbo-frame="main-modal-content"
>
  <%= t('shared.authorization_requests.show.modal.show.display_cta') %>
</a>