<turbo-frame id="endpoint_status">
  <% if @endpoint.ping_url %>
    <div class="fr-pb-1w">
      <%= t('.real_time') %> : <a href="<%= @endpoint.ping_url %>" target="_blank"><span class="api-status api-status-<%= @endpoint.api_status %>"></span></a>
    </div>
  <% end %>
</turbo-frame>
