---
- uid: 'gip_mds/effectifs_annuels_unite_legale'
  path: '/v3/gip_mds/unites_legales/{siren}/effectifs_annuels/{year}'
  ping_url: 'https://entreprise.api.gouv.fr/ping/gip_mds/effectifs'
  new_version: true
  position: 152
  perimeter:
    entity_type_description: |+
      Cette API permet d’accéder aux effectifs annuels de **✅ toutes les unités légales du régime général et du régime agricole** ayant des salariés, dont les associations ayant un SIREN.
      
      **Ne sont pas couverts par l'API :**
      - ❌ Les régimes spéciaux ;
      - ❌ Les unités légales qui n'ont pas d'effectif, [consulter la liste](#categories-sans-effectif).
    geographical_scope_description:  |+
      - ✅ France métropolitaine
      - ✅ DROM-COM
    updating_rules_description: |+
      L'effectif de l'année N d'une unité légale est mis à disposition **fin janvier de l'année N+1**.
      L'effectif d'une même année **peut évoluer au cours du temps**, car les régularisations _a posteriori_ sont possibles.
    entities:
      - entreprises
      - associations
  call_id: SIREN
  provider_uids:
    - 'gipmds'
  keywords: &gip_mds_effectifs_keywords
    - 'effectif'
    - 'urssaf'
    - 'msa'
    - 'regime agricole'
    - 'regime general'
    - 'ressources humaines'
    - 'salaries'
    - 'EMA'
    - 'effectif moyen annuel'
    - 'BOETH'
    - 'OETH'
    - 'travailleurs handicapés'
    - 'obligation d'emploi'
    - 'ECAP'
    - 'handicap'
  data:
    description: |+
      Cette API délivre, pour l'année demandée :
      - **l'effectif moyen annuel (EMA)** de l'unité légale : Cet effectif décompte le nombre de salariés étant en contrat actif avec l'entreprise, [hors exceptions](#definition-ema) ;
      - **les effectifs liés à l'obligation d'emploi des travailleurs handicapés**, utilisés par l'URSSAF pour calculer le montant de la contribution due par l'employeur en cas d'effectif insuffisant :
        - **EMA BOETH** : l'effectif annuel des bénéficiaires de l'obligation d’emploi des travailleurs handicapés. Cet effectif décompte le nombre de salariés de l'entreprise qui sont bénéficiaires de cette obligation. Les personnes bénéficiaires peuvent l'être en raison de [situations diverses](#situations-boeth). Pour le calcul de cet effectitf, toute personne employée par l'entreprise est prise en compte, y compris les stagiaires et les PMSMP (personnes accueillies pour des périodes de mise en situation en milieu
professionnel) ;
        - **EMA ECAP** : l'effectif annuel des emplois exigeant des conditions d’aptitudes particulières. Cet effectif décompte le nombre de salariés occupant un emploi qui, de par ses exigences en matière d'aptitude, rend difficile un recrutement de travailleurs handicapés. Cet effectif est utilisé par l'URSSAF pour le calcul d'une réduction de la contribution.
        - **EMA OETH ou effectif d'assujettissement OETH** : Cet effectif décompte le nombre de salariés en contrat actif avec l'entreprise pour déterminer si l'entreprise est concernée par l'obligation. Il est différent de l'effectif moyen. [En savoir plus](#effectif-assujettissement-oeth).
      
      
      Les effectifs moyens annuels de l'unité légale sont construits à partir des effectifs moyens mensuels (EMM) de tous les établissements de l'unité.
      Les données transmises sont issues du **répertoire commun des déclarants (RCD)** qui récupère les effectifs du régime général auprès de l'URSSAF et les données du régime agricole auprès de la MSA.

      La profondeur de l'historique des effectifs disponible est de **5 ans**.
  opening: protected
  parameters:
    - Numéro de SIREN de l'unité légale
  format:
    - Donnée structurée JSON
  faq:
      - q: <a name="definition-ema"></a>Quel est le calcul de l'effectif moyen annuel (EMA) ?
        a: |+
          L'effectif moyen annuel (EMA) correspond à la somme des effectifs moyens mensuels (EMM) de tous les établissements de l'unité, divisée par le nombre de mois au cours desquels des salariés ont été employés.

          L'ensemble des contrats actifs sont pris en compte, à l'exception :
          - ❌ des contrats d'apprentissage ;
          - ❌ des contrats d'initiative l'emploi ;
          - ❌ des contrats d'accompagnement dans l'emploi ;
          - ❌ des contrats de professionnalisation ;
          - ❌ des conventions industrielles de formation par la recherche en entreprise ;
          - ❌ des CDD en remplacement d'un salarié absent ;
          - ❌ des conventions de stage ;
          - ❌ des contrats de volontariat de service civique ;
          - ❌ des contrats de soutien et d'aide par le travail ;
          - ❌ des contrats de type ligne de service ;

          - ❌ des périodes de mise en situation en milieu professionnel ;
          - ❌ des compagnons d’Emmaüs ;
          - ❌ Patrons-pêcheurs ;
          - ❌ des vendeurs à domicile indépendants (VDI) ;
          - ❌ des mandats sociaux ;
          - ❌ des contrats d'appui au projet d'entreprise ;
          - ❌ des praticiens hospitaliers en détachement ;
          - ❌ des contrats d’engagement détenu ;
          - ❌ des colporteurs de presse ;
          - ❌ des statuts d'emploi "militaire de réserve" ;
          - ❌ des parcours d'accès aux carrières (Pacte) ;
          - ❌ des travailleurs expatriés à l’étranger au sens de la Sécurité Sociale ;
          - ❌ des mandats d'élus ;
          - ❌ des fonctionnaire en détachement sur un mandat électif (élu local) ;
          - ❌ des contrats de mission d'un collaborateur occasionnel du service public (COSP) ou assimilé
          - ❌ des fonctionnaires pour détachement.

          {:.fr-h6 .fr-mt-4w}
          ### Pour en savoir plus&nbsp;:

          Le [site de l'Urssaf](https://www.urssaf.fr/portail/home/employeur/calculer-les-cotisations/le-calcul-de-leffectif/calcul-des-effectifs-par-lurssaf/presentation-des-regles-de-gesti.html){:target="_blank"} est une source de référence des règles de gestion et de calcul des effectifs. Le document suivant les explique en détail :

          <div class="fr-download">
          <p>
            <a href="/files/gip_mds_effectifs_methode_calcul_urssaf.pdf" download class="fr-download__link">
            Télécharger les règles de gestion du calcul des effectifs de l'Urssaf
            <span class="fr-download__detail">
            PDF – 1,3 Mo | version du 26/01/2023
            </span>
            </a>
          </p>
          </div>

          Le [bulletin officiel de la Sécurité sociale](https://boss.gouv.fr/portail/accueil/regles-dassujettissement/effectif.html#titre-chapitre-2---modalites-dapprecia-section-2---effectif-moyen-annue){:target="_blank"} présente les formules de calcul illustrées par des exemples types.
      - q: <a name="categories-sans-effectif"></a>Liste des catégories d'unités légales qui n'ont pas d'effectif
        a: &gip_mds_effectifs_a2 |+
          - Les établissements fermés n'ont pas d'effectifs ;
          - Les auto-entrepreneurs non plus ;
          - Les entreprises indiquées par l'Insee comme "unité non-employeuse" non plus, même si de rares erreurs sont parfois observées ;
          - Certaines administrations et collectivités territoriales n'ont pas de salariés, car elles n'ont que des fonctionnaires qui ne sont pas au régime général (et donc ne sont pas couverts par cette API). Celles qui embauchent des contractuels (en CDD ou CDI) ont un effectif qui ne couvre que cette catégorie de personnel.
      - q: <a name="situations-boeth"></a>Qui est bénéficiaire de l'OETH ?
        a: &gip_mds_effectifs_a3 |+
          Le statut "bénéficiaire de l'obligation d'emploi des travailleurs handicapés" couvre des siutations différentes: 
          - les victimes d'un accident du travail ou d'une maladie professionnelle ;
          - les titulaires d'une carte, d'une prestation, d'une allocation ou d'une pension d'invalidité ;
          - les invalides militaires et les victimes de guerre.

          La définition précise des bénéficiaires est donnée par l'[article L5212-13 du Code du travail](https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000033220318/){:target="_blank"}.
      - q: <a name="effectif-assujettissement-oeth"></a>Définition de l'effectif d'assujettissement OETH
        a: &gip_mds_effectifs_a4 |+
          
          L'effectif d'assujettissement à l'obligation d'emploi des travailleurs handicapés inclut l'ensemble des salariés de l'entreprise, hors exceptions décrites ci-dessous.
          
          Il n'est pas à confondre avec l'effectif moyen qui concerne aussi tous les salariés mais donc les exceptions diffèrent.
          L'effectif d'assujettissement est en effet calculé par l'URSSAF et utilisé pour déterminer l'assujettissement de l'entreprise à l'OETH et son niveau d'obligation d'emploi. C'est notamment l'effectif qui est utilisé pour savoir si l'entreprise égalise ou dépasse 20 salariés, seuil à partir duquel elle est concernée par cette obligation.
          
          Cet effectif inclut presque la totalité des salariés de l'entreprise : 
          - ✅ Titulaires d'un contrat à temps plein ou partiel ;
          - ✅ Agents et salariés de la fonction publique ;
          - ✅ Les directeurs, gérants et présidents ;

          En revanche, en sont exclus : 
          - ❌ Les stagiaires
          - ❌ Les apprentis
          - ❌ Les titulaires d'un contrat de professionnalisation, d'un CIE ou CAE
          - ❌ Les titulaires d'un CDD lorsque celui-ci remplace un salarié absent ou au contrat suspendu ;
          - ❌ Les intérimaires ;
          - ❌ Les salariés mis à disposition par une entreprise extérieure.
          
          [Pour en savoir plus, consulter cette page de l'Agefiph](https://www.agefiph.fr/centre-aide/effectif-dassujettissement){:target="_blank"}.
- uid: 'gip_mds/effectifs_mensuels_etablissement'
  path: '/v3/gip_mds/etablissements/{siret}/effectifs_mensuels/{month}/annee/{year}'
  ping_url: 'https://entreprise.api.gouv.fr/ping/gip_mds/effectifs'
  new_version: true
  position: 153
  perimeter:
    entity_type_description: |+
      Cette API permet d’accéder aux effectifs mensuels de **✅ tous les établissements du régime général et du régime agricole** ayant des salariés, dont les associations ayant un SIREN.
      
      **Ne sont pas couverts par l'API :**
      - ❌ Les régimes spéciaux ;
      - ❌ Les établissements des unités légales qui n'ont pas d'effectif, [consulter la liste](#categories-sans-effectif).
    geographical_scope_description:  |+
      - ✅ France métropolitaine
      - ✅ DROM-COM
    updating_rules_description: |+
      L'effectif du mois M d'un établissement est mis à disposition **à la fin du mois M+1** ; par exemple, l'effectif du mois de février est disponible fin mars. Il n'est donc pas possible d'obtenir l'effectif du mois courant.

      L'effectif d'un même mois **peut évoluer au cours du temps**, car les régularisations _a posteriori_ sont possibles.
    entities:
      - entreprises
      - associations
  call_id: SIRET
  provider_uids:
    - 'gipmds'
  keywords: *gip_mds_effectifs_keywords
  data:
    description: |+
      Cette API délivre, pour le mois demandé :
      - **l'effectif moyen mensuel (EMM)** de l'établissement : Cet effectif décompte le nombre de salariés étant en contrat actif avec l'établissement, [hors exceptions](#definition-emm) ;
      - **les effectifs liés à l'obligation d'emploi des travailleurs handicapés**, utilisés par l'URSSAF pour calculer le montant de la contribution due par l'employeur en cas d'effectif insuffisant :
        - **EMM BOETH** : l'effectif mensuel des bénéficiaires de l'obligation d’emploi des travailleurs handicapés. Cet effectif décompte le nombre de salariés de l'établissement (salariés, stagiaires et PMSMP) qui sont bénéficiaires de cette obligation. Les personnes bénéficiaires peuvent l'être en raison de [situations diverses](#situations-boeth). Pour le calcul de cet effectitf, toute personne employée par l'entreprise est prise en compte, y compris les stagiaires et les PMSMP (personnes accueillies pour des périodes de mise en situation en milieu
professionnel) ;
        - **EMM ECAP** : l'effectif mensuel des emplois exigeant des conditions d’aptitudes particulières. Cet effectif décompte le nombre de salariés occupant un emploi qui, de par ses exigences en matière d'aptitude, rend difficile un recrutement de travailleurs handicapés. Il est utilisé par l'URSSAF pour le calcul d'une réduction de la contribution.
        - **EMM OETH ou effectif d'assujettissement OETH** : Cet effectif décompte le nombre de salariés en contrat actif avec l'établissement pour déterminer si l'établissement est concerné par l'obligation. Il est différent de l'effectif moyen. [En savoir plus](#effectif-assujettissement-oeth).
      
      Les effectifs moyens mensuels de l'unité légale sont utilisés pour construire les effectifs moyens annuels (EMA) de l'entreprise.
      Les données transmises sont issues du **répertoire commun des déclarants (RCD)** qui récupère les effectifs du régime général auprès de l'URSSAF et les données du régime agricole auprès de la MSA.

      La profondeur de l'historique des effectifs mensuels disponible est de **5 ans**. [En savoir plus sur les options d'appel de l'historique](#options-appel-historique).
  opening: protected
  parameters:
    - Numéro de SIRET de l'établissement
    - Année
    - Mois
  format:
    - Donnée structurée JSON
  faq:
    - q: <a name="definition-emm"></a>Quel est le calcul de l'effectif moyen mensuel (EMM) ?
      a: |+
        L'effectif moyen mensuel est construit à partir des effectifs moyens mensuels des individus actifs sur le mois considéré.

        L'ensemble des contrats sont pris en compte, à l'exception :
        - ❌ des contrats d'apprentissage ;
        - ❌ des contrats d'initiative l'emploi ;
        - ❌ des contrats d'accompagnement dans l'emploi ;
        - ❌ des contrats de professionnalisation ;
        - ❌ des conventions industrielles de formation par la recherche en entreprise ;
        - ❌ des CDD en remplacement d'un salarié absent ;
        - ❌ des conventions de stage ;
        - ❌ des contrats de volontariat de service civique ;
        - ❌ des contrats de soutien et d'aide par le travail ;
        - ❌ des contrats de type ligne de service ;

        - ❌ des périodes de mise en situation en milieu professionnel ;
        - ❌ des compagnons d’Emmaüs ;
        - ❌ Patrons-pêcheurs ;
        - ❌ des vendeurs à domicile indépendants (VDI) ;
        - ❌ des mandats sociaux ;
        - ❌ des contrats d'appui au projet d'entreprise ;
        - ❌ des praticiens hospitaliers en détachement ;
        - ❌ des contrats d’engagement détenu ;
        - ❌ des colporteurs de presse ;
        - ❌ des statuts d'emploi "militaire de réserve" ;
        - ❌ des parcours d'accès aux carrières (Pacte) ;
        - ❌ des travailleurs expatriés à l’étranger au sens de la Sécurité Sociale ;
        - ❌ des mandats d'élus ;
        - ❌ des fonctionnaire en détachement sur un mandat électif (élu local) ;
        - ❌ des contrats de mission d'un collaborateur occasionnel du service public (COSP) ou assimilé
        - ❌ des fonctionnaires pour détachement.

        {:.fr-h6 .fr-mt-4w}
        ### Pour en savoir plus&nbsp;:

        Le [site de l'Urssaf](https://www.urssaf.fr/portail/home/employeur/calculer-les-cotisations/le-calcul-de-leffectif/calcul-des-effectifs-par-lurssaf/presentation-des-regles-de-gesti.html){:target="_blank"} est la source de référence des règles de gestion et de calcul des effectifs. Le document suivant les explique en détail :

        <div class="fr-download">
        <p>
          <a href="/files/gip_mds_effectifs_methode_calcul_urssaf.pdf" download class="fr-download__link">
          Télécharger les règles de gestion du calcul des effectifs de l'Urssaf
          <span class="fr-download__detail">
          PDF – 1,3 Mo | version du 26/01/2023
          </span>
          </a>
        </p>
        </div>

        Le [bulletin officiel de la Sécurité sociale](https://boss.gouv.fr/portail/accueil/regles-dassujettissement/effectif.html#titre-chapitre-2---modalites-dapprecia-section-2---effectif-moyen-annue){:target="_blank"} présente les formules de calcul illustrées par des exemples types.

    - q: <a name="options-appel-historique"></a>Options d'appel de l'historique des effectifs mensuels
      a: |+
        L'API vous permet de consulter les historiques mensuels de l'établissement jusqu'à **5 années en arrière**.

        L'API délivre **jusqu'à 13 effectifs mensuels sur un même appel**. Pour obtenir la totalité d'un historique de plusieurs années, il faudra effectuer plusieurs appels.
        Dans vos appels, vous devez renseigner le mois de l'effectif voulu le plus proche, et la profondeur de l'historique souhaitée.

          {:.fr-highlight.fr-highlight--example}
          > **Exemple :**
          > Si vous notez en paramètre d'appel le `mois 05 de l'année N` et une profondeur de `3`. Vous obtiendrez les effectifs suivants :
          > - Effectif du mois de mai de l'année N ;
          > - Effectif du mois de avril de l'année N ;
          > - Effectif du mois de mars de l'année N.
    - q: <a name="categories-sans-effectif"></a>Liste des catégories d'unités légales qui n'ont pas d'effectif
      a: *gip_mds_effectifs_a2
    - q: <a name="situations-boeth"></a>Qui sont les BOETH ? qui est bénéficiaire de l'OETH ?
      a: *gip_mds_effectifs_a3
    - q: <a name="effectif-assujettissement-oeth"></a>Définition de l'effectif d'assujettissement OETH
      a: *gip_mds_effectifs_a4
