jwt_hash_secret: wowmuchsecret
jwt_hash_algo: HS256

oauth_api_gouv_client_secret: secret

secret_key_base: secret

admin_accounts:
  - admin@compagny.example

mj_apikey_public: cacf771a7b5f977037ed98e0a03bef67
mj_apikey_private: secret
mj_list_id: 10201049
mj_default_from_email: noreply@compagny.example

instatus_page_id: 42
instatus_apikey: secret
