<nav class="fr-sidemenu--sticky-full-height" role="navigation" aria-label="Menu latéral">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#introduction" target="_self">Introduction</a>
        </li>

        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#prérequis" target="_self">Prérequis</a>
        </li>

        <li class="fr-sidemenu__item">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-0">Spécifications générales de l’API Entreprise</button>
          <div class="fr-collapse" id="fr-sidemenu-item-0">
            <ul class="fr-sidemenu__list">

              <li class="fr-sidemenu__item">
                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-0-sub">Volumétrie</button>
                <div class="fr-collapse" id="fr-sidemenu-item-0-sub">
                  <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#limites-à-respecter" target="_self">
                        Limites à respecter
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#informations-actionnables-et-alertes" target="_self">
                        Informations actionnables et alertes
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#bannissement" target="_self">
                        Bannissement
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#timeout" target="_self">Timeout</a>
              </li>

              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#certificats-ssl" target="_self">Certificats SSL</a>
              </li>

              <li class="fr-sidemenu__item">
                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-1-sub">Code HTTPS et gestion des erreurs</button>
                <div class="fr-collapse" id="fr-sidemenu-item-1-sub">
                  <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#un-code-standard-https-pour-catégoriser-le-statut-de-lappel" target="_self">
                        Un code standard HTTPS pour catégoriser le statut de l’appel
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#en-v3-un-second-code-spcifique-api-entreprise-pour-prciser-lerreur-et-enclencher-une-action" target="_self">
                        En V3, un second code spécifique API Entreprise pour préciser l’erreur et enclencher une action
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#paramtres-dappel-et-traabilit" target="_self">Paramètres d’appel et traçabilité</a>
              </li>

              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#compatibilit-ascendante-et-versionnage" target="_self">Compatibilité ascendante et versionnage</a>
              </li>

              <li class="fr-sidemenu__item">
                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-2-sub">Monitorer la disponibilité des API</button>
                <div class="fr-collapse" id="fr-sidemenu-item-2-sub">
                  <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#disponibilit-des-api-en-temps-rel" target="_self">
                        Disponibilité des API en temps réel
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#historique-de-disponibilit-des-api" target="_self">
                        Historique de disponibilité des API
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#retrouver-les-droits-dun-jwt" target="_self">Retrouver les droits d’un JWT</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="fr-sidemenu__item">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-3">🧰 Kit de mise en production</button>
          <div class="fr-collapse" id="fr-sidemenu-item-3">

            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#rcuprer-le-jeton-jwt-" target="_self">Récupérer le jeton JWT&nbsp;🔑</a>
              </li>

              <li class="fr-sidemenu__item">
                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-5-sub">Faire sa première requête</button>
                <div class="fr-collapse" id="fr-sidemenu-item-5-sub">
                  <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#utiliser-lenvironnement-de-production---swagger" target="_self">
                        Utiliser l’environnement de production - Swagger
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#lments-constitutifs-de-la-requte-http-dapi-entreprise" target="_self">
                        Éléments constitutifs de la requête HTTP d’API Entreprise
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#constatez-votre-premire-trace-dappel-depuis-le-tableau-de-bord" target="_self">
                        Constatez votre première trace d’appel depuis le tableau de bord
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#configurer-le-logiciel-mtier" target="_self">Configurer le logiciel métier</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#spcifications-techniques-de-chaque-api--swagger" target="_self">Spécifications techniques de chaque API & Swagger</a>
        </li>

        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#rupture-de-service-incidents-et-maintenances" target="_self">Rupture de service, incidents et maintenances</a>
        </li>

        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#renouvellement-du-jwt-" target="_self">Renouvellement du JWT&nbsp;🔑</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
