<nav class="fr-sidemenu--sticky-full-height" role="navigation" aria-label="Menu latéral">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-0">Niveau 1</button>
          <div class="fr-collapse" id="fr-sidemenu-item-0">
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-sidemenu__item fr-sidemenu__item--active">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-1" aria-current="true">Entrée menu active</button>
          <div class="fr-collapse" id="fr-sidemenu-item-1">
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item fr-sidemenu__item--active">
                <a class="fr-sidemenu__link" href="#" target="_self" aria-current="page">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#" target="_self">Accès direct</a>
        </li>
        <li class="fr-sidemenu__item">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-3">Niveau 1</button>
          <div class="fr-collapse" id="fr-sidemenu-item-3">
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>

              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-sidemenu__item">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-4">Niveau 1</button>
          <div class="fr-collapse" id="fr-sidemenu-item-4">
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#" target="_self">Accès direct</a>
        </li>
        <li class="fr-sidemenu__item">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-6">Niveau 1</button>
          <div class="fr-collapse" id="fr-sidemenu-item-6">
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-sidemenu__item">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-7">Niveau 1</button>
          <div class="fr-collapse" id="fr-sidemenu-item-7">
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#" target="_self">Accès direct</a>
        </li>
        <li class="fr-sidemenu__item">
          <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-9">Niveau 1</button>
          <div class="fr-collapse" id="fr-sidemenu-item-9">
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self">Accès direct niveau 2</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
