<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>Un compte client à API Entreprise a été créé avec votre adresse e-mail.</p>

    <p>Afin d'activer votre compte, merci de cliquer <%= link_to "ici", @confirmation_url %> ou sur le lien ci-dessous. Si vous n'êtes pas à l'origine de la demande d'un accès à nos services, merci de nous le signaler à <%= mail_to "tech@entreprise.api.gouv.fr" %>.<p>

    <p>Lors de la confirmation de votre compte utilisateur il vous sera demandé de renseigner le mot de passe qui vous permettra d'accéder à votre espace client.</p>

    <p>Lien vers la page de confirmation : <%= @confirmation_url %></p>

    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
