<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>Un compte client API Entreprise a été créé avec l'adresse e-mail <%= @user.email %>.</p>

    <p>Afin de l'activer, votre administrateur (<%= @user.email %>) a reçu un e-mail avec un lien permettant de valider la création du compte et de choisir un mot de passe.</p>

    <p>Si cette boite mail n'est pas consultée régulièrement ou si vous n'avez pas reçu l'e-mail de confirmation veuillez nous contacter à l'adresse suivante <%= mail_to(Rails.configuration.emails_from_address) %></p>

    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
