<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>
      <%= t('.link_description') %>&nbsp;
      <%= link_to('suivant', login_magic_link_url(host: @host, access_token: @magic_link.access_token)) %>
    </p>

    <p>Ce lien est confidentiel, ne le partagez à personne. Il est valable jusqu'au <%= friendly_format_from_timestamp(@magic_link.expires_at) %></p>
    <p>Cordialement,</p>
    <p>L'équipe API <%= @entreprise_or_particulier %></p>
  </body>
</html>
