<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>Une demande de renouvellement de mot de passe d'accès à l'espace cient API Entreprise a été effectuée pour cette adresse email.</p>

    <p>Si vous êtes bien à l'origine de cette opération vous pouvez ré-initialiser votre mot de passe en cliquant sur ce <%= link_to "lien", @renew_pwd_url %>.</p>

    <p>Le lien de renouvellement est valide pendant 24 heures.</p>

    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
