<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>Un nouveau token est disponible dans votre espace client.<p>

    <p>Vous pouvez le récupérer en suivant ce lien : <%= @url_jwt  %></p>

    <p>Ce token possède les droits d'accès suivants :</p>
    <ul>
      <% @jwt.roles.each do |role| %>
        <li><%= role.name %></li>
      <% end %>
    </ul>


    <p>N'oubliez pas, vous pouvez consulter les statistiques d'utilisations propre à ce jeton en temps réel. Voici les statistiques actuellement disponibles:</p>

    <ul>
      <li>la liste des 50 derniers appels</li>
      <li>les pourcentages des différents code HTTP sur les dernières 30h/8j</li>
      <li>le nombre d'appels par API sur les dernières 30h/8j</li>
    </ul>

    <p>Si vous avez besoin d'un nouveau token contactez-nous : <%= mail_to(Rails.configuration.emails_from_address) %></p>

    <p>Vous recevez cet email car vous êtes renseigné parmi les contacts pour le compte <%= @user.email %>. Les accès se font uniquement à partir de cette adresse email.</p>

    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
