<h1 class="center">
  Politique de confidentialité
  <br>
  du service API Entreprise
</h1>

<p class="fr-text--lead">
La DINUM est responsable de traitement des données à caractère personnel réalisées par API Entreprise. Elle s’engage à assurer un traitement de ces données conforme au Règlement (UE) 2016/679 relatif à la protection des données à caractère personnel et à la libre circulation de ces données et à la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. 
</p>

<h2 class="fr-mt-4w">
  Quelles sont les données à caractère personnel que nous traitons&nbsp;?
</h2>

<p class="fr-mt-2w fr-mb-2w">
    Ne sont traitées que les données strictement nécessaires au fonctionnement du service. Ces données ne pourront en aucun cas servir au contrôle et à la surveillance de l’activité des Utilisateurs et Utilisatrices. Les données à caractère personnel concernées sont les suivantes&nbsp;:
</p>

<ul class="fr-mb-5w">
  <li>
    <strong>Données relatives aux usagers des services finaux</strong> : état civil, adresse postale ;
  </li>
  <li>
    <strong>Données relatives aux correspondants de l’organisation</strong> : adresse e-mail ;
  </li>
  <li>
    <strong>Données relatives au responsable technique</strong> : adresse e-mail et numéro de téléphone ;
  </li>
  <li>
    <strong>Données relatives au responsable métier</strong> : adresse e-mail et numéro de téléphone ;
  </li>
  <li>
    <strong>Données relatives aux particuliers notamment</strong> : quotient familial, composition de la famille, nom, prénom, date et lieu de naissance, sexe des enfants, adresse postale de la famille, statut boursier, données Pôle Emploi, identifiant Pôle Emploi, statut de demandeur d’emploi et statut de bénéficiaire de la CSS.
  </li>
</ul>

<h2 class="fr-mt-4w">
  Qu’est-ce qui nous autorise à traiter des données à caractère personnel&nbsp;?
</h2>
<p class="fr-mt-2w fr-mb-2w">
    Les données à caractère personnel susvisées sont traitées par le biais de l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-1 e. du RGPD.
</p>
<p class="fr-mt-2w fr-mb-2w">
    Cette mission d’intérêt public est mise en œuvre par le décret n° 2019-1088 du 25 octobre 2019 relatif au système d’information et de communication de l’Etat et à la direction interministérielle du numérique et l’article premier de la loi pour une République numérique.
</p>

<h2 class="fr-mt-4w">
  Pendant combien de temps conservons-nous vos données&nbsp;?
</h2>

<ul class="fr-mb-5w">
  <li>
    Données relatives aux Usagers des services finaux : Les données sont conservées quelques secondes seulement.
  </li>
  <li>
    Données relatives aux correspondants de l’organisation : Les données sont conservées pendant 18 mois à compter de la fin de l’usage constaté du service.
  </li>
  <li>
    Données relatives au responsable technique : Les données sont conservées pendant 18 mois à compter de la fin de l’usage constaté du service.
  </li>
  <li>
    Données relatives au responsable métier : Les données sont conservées pendant 18 mois à compter de la fin de l’usage constaté du service.
  </li>
  <li>
    Données relatives aux particuliers notamment : Les données sont conservées pendant 18 mois à compter de la fin de l’usage constaté du service.
  </li>
</ul>

<h2 class="fr-mt-4w">
  Qui va avoir accès à ces données&nbsp;? 
</h2>
<p class="fr-mt-2w fr-mb-2w">
    Les accès aux données à caractère personnel sont strictement encadrés et juridiquement justifiés. Les personnes suivantes vont avoir accès aux données&nbsp;:
</p>

<ul class="fr-mb-5w">
  <li>
    Les agents habilités qui traitent les démarches administratives des usagers finaux ;
  </li>
  <li>
    Les membres de l’équipe d’API Particulier.
  </li>
</ul>

<h2 class="fr-mt-4w">
  Qui nous aide à traiter vos données&nbsp;? 
</h2>
<p class="fr-mt-2w fr-mb-2w">
    Certaines données sont envoyées à des sous-traitants. Le responsable de traitement s’est assuré de la mise en œuvre par ses sous-traitants de garanties adéquates et du respect de conditions strictes de confidentialité, d’usage et de protection des données.
</p>

<ul class="fr-mb-5w">
  <li>
    <strong>OVH</strong> | Traitement réalisé : Hébergement<br/>
    Pays destinataire des données : France<br/>
    Garanties : <a href="https://us.ovhcloud.com/legal/data-processing-agreement/">https://us.ovhcloud.com/legal/data-processing-agreement/</a>
  </li>
  <li>
    <strong>Mailjet</strong> | Traitement réalisé : Envoi d'e-mails<br/>
    Pays destinataire des données : Union Européenne<br/>
    Garanties : <a href="https://www.mailjet.com/fr/legal/dpa/">https://www.mailjet.com/fr/legal/dpa/</a>
  </li>
    <li>
    <strong>Hubspot</strong> | Traitement réalisé : CRMs<br/>
    Pays destinataire des données : Allemagne<br/>
    Garanties : <a href="https://legal.hubspot.com/dpa">https://legal.hubspot.com/dpa</a>
  </li>
</ul>

<h2 class="fr-mt-4w">
  Exercice des droits à la protection des données à caractère personnel
</h2>

<p class="fr-mt-2w fr-mb-2w">
  Vous disposez d’un droit d’accès et de rectification des données à caractère personnel qui vous concernent. Vous disposez également d’un droit d’opposition et de limitation du traitement de vos données.
</p>
<p class="fr-mt-2w fr-mb-2w">
Pour exercer vos droits ou pour toute question sur le traitement de vos données, vous pouvez nous écrire à l’adresse : <a href="api-particulier@api.gouv.fr">api-particulier@api.gouv.fr</a>
</p>

<p class="fr-mt-2w fr-mb-2w">
  Vous pouvez également contacter le délégué à la protection des données (DPD) des services du Premier Ministre par mail à dpd@pm.gouv.fr ou par courrier à l'adresse suivante&nbsp;:<br/>
  Services du Premier Ministre<br/>
  À l’attention du délégué à la protection des données (DPD)<br/>
  56 rue de Varenne<br/>
  75007 Paris<br/>
</p>

<p class="fr-mt-2w fr-mb-2w">
Si vous estimez, après nous avoir contactés, que vos droits Informatiques et Libertés ne sont pas respectés vous pouvez adresser une réclamation à la CNIL&nbsp;:<br/>
Commission nationale informatique et libertés<br/>
3 place de Fontenoy – TSA 80715 –<br/>
75334 PARIS CEDEX 07<br/>
</p>
<p class="fr-mt-2w fr-mb-2w">
Les modalités de réclamation sont précisées sur le site de la CNIL : <a href="www.cnil.fr">www.cnil.fr</a>
</p>