<h1 class="center">
  Mentions légales
</h1>

<h2>
  Éditeur
</h2>

<p>
  Mission Étalab, Direction interministérielle du numérique (DINUM).
</p>

<h2>
  Directrice de la publication
</h2>

<p>
  Mme Laure LUCCHESI, Cheffe de la Mission Etalab, Direction interministérielle du
  numérique et du système d'information et de communication de l'Etat (DINSIC).
</p>

<h2>
  Délégué à la protection des données
</h2>

<p>
  Si vous souhaitez obtenir des informations sur les traitements de données personnelles gérés par un
  Service Premier Ministre vous pouvez contacter le délégué à la protection des données (DPD)
  par courriel à l’adresse <a href="mailto:dpd@pm.gouv.fr">dpd@pm.gouv.fr</a> et par courrier à l’adresse suivante :
</p>

<p>
  Service du Premier ministre
  <br>
  À l'attention du délégué à la protection des données (DPD)
  <br>
  56 rue de Varenne
  <br>
  75700 Paris
</p>

<h2>
  Prestataire d'hébergement
</h2>

<p>
  OVH
  <br>
  RCS Roubaix – Tourcoing 424 761 419 00045
  <br>
  Code APE 6202A
  <br>
  N° TVA : FR 22 424 761 419
  <br>
  Siège social : 2 rue Kellermann - 59100 Roubaix - France.
</p>
