#attestations #search_siren {
  @media (min-width: 320px) {
    max-width: 200px;
  }
}

#attestations-result .cta-button-disabled {
  max-width: 320px;
  box-shadow: none !important;
}

#attestations-result .buttons-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

