#attestations {
  display: flex;
  flex-direction: row;

  .form-container {
    width: 100%;

    * {
      margin: 10px 3px 10px 3px;
    }

    #token {
      margin-bottom: 24px;
      text-overflow: ellipsis;

      option {
        width: 50px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .search-group {
      display: flex;
      flex-direction: column;

      @media (min-width: 767px) {
        flex-direction: row;
        align-items: flex-end;
      }

      #search {
        width: 136px;

        @media (min-width: 767px) {
          margin-left: 20px;
        }
      }

      #search_siret {
        margin-bottom: 0;
      }
    }
  }

  #attestations-token {
    margin: 10px;

    p {
      margin-top: 10px;
    }
  }
}

#search_siret {
  width: 200px;
}
