#cas-usage {
  .banner {
    background-color: #D5DBEF;
    height: 248px;
  }

  .fr-container {
    position: relative;
    top: -186px;
  }

  .introduction_image img {
    width: 80%;
    max-width: 150px;
  }

  .introduction_text--links a, .introduction_text--links .icon {
    background-image: none;
    color: #15159a;
  }

  section {
    padding-top: 40px;
    padding-bottom: 56px;

    padding-left: 6px;
    padding-right: 6px;

    @media(min-width: 575px) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media(min-width: 992px) {
      padding-left: 72px;
      padding-right: 72px;
    }

    @media(min-width: 1440px) {
      padding-left: 120px;
      padding-right: 120px;
    }
  }
}
