#cas-usage {
  .banner {
    background-color: #D5DBEF;
    height: 248px;
  }

  .fr-container {
    position: relative;
    top: -186px;
  }

  .introduction_image img {
    width: 80%;
    max-width: 150px;
  }

  .introduction_text--links a, .introduction_text--links .icon {
    background-image: none;
    color: #15159a;
  }

  section {
    padding-top: 40px;
    padding-bottom: 56px;

    padding-left: 6px;
    padding-right: 6px;

    @media(min-width: 575px) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media(min-width: 992px) {
      padding-left: 72px;
      padding-right: 72px;
    }

    @media(min-width: 1440px) {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  .other-use-cases {
    background-color: #D5DBEF;
    padding-bottom: 120px;

    .use_cases {
      display: flex;
      justify-content: space-between;
      text-align: center;
      flex-direction: column;

      @media(min-width: 576px) {
        flex-direction: row;
      }

      .use_case {
        align-self: center;
        min-height: 300px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }

    .fr-btn, p, h4 {
      color: #000091;
      margin: 0.25rem 0 0.25rem 0;
    }
  }

  #table-api {
    td:nth-child(2) {
      text-align: center;
    }
  }
}
