#cas-usages {
  .banner {
    background-color: #D5DBEF;
  }

  .content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .fr-card {
    max-width: 280px;
    margin: 10px;
    display: inline-flex !important;

    h4 {
      margin-bottom: 15px;
    }

    @media(min-width: 1440px) {
      &:first-of-type {
        margin-left: 0px !important;
      }

      &:last-of-type {
        margin-right: 0px !important;
      }
    }

    .card-image {
      width: 120px;
      height: 120px;
    }

    &__img {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__header {
      background-color: #D5DBEF;
    }
  }
}
