#developers {
  .banner {
    background-color: #d1dad8;

    .links {
      display: flex;
      flex-direction: column;

      a {
        background-image: unset;
      }
    }
  }

  .card-swagger {
    background-color: var(--blue-france-925-125);
    max-height: 250px;

    @media(min-width: 1440px) {
      max-width: 300px;

      position: absolute;
      right: 100px;
      top: 460px;
    }
  }

  .title-anchor {
    display: flex;
    align-items: center;
    margin: 20px;
    * {
      margin: 5px;
    }
  }
}
