@use 'developers/menu'
@use 'developers/banner'
@use '../components/markdown_to_html'

#developers {
  .card-swagger {
    background-color: var(--blue-france-925-125);
    max-height: 200px;

    @media(min-width: 1440px) {
      max-width: 300px;
      max-height: 250px;

      position: absolute;
      right: 300px;
      top: 420px;
    }
  }

  .documentation {
    max-width: 90vw;

    padding-top: 24px;
    padding-bottom: 24px;

    @media(min-width: 575px) {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    @media(min-width: 1440px) {
      padding-top: 96px;
      padding-bottom: 96px;
    }

    margin-left: 10px;
    margin-right: 10px;

    @media(min-width: 992px) {
      margin-left: 50px;
      max-width: 750px;
    }

    @media(min-width: 992px) {
      margin-left: 50px;
      max-width: 750px;
    }

    @media(min-width: 1440px) {
      margin-left: 120px;
      max-width: 800px;
    }

    @media(min-width: 1750px) {
      max-width: 900px;
    }
  }
}
