#documentation {
  .banner.developers-background-color {
    background-color: #d1dad8;
  }

  .banner.guide_migration-background-color {
     background-color: #fff9bf;
   }

  .banner {

    padding-left: 8px;
    padding-right: 8px;

    @media(min-width: 575px) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media(min-width: 767px) {
      padding-left: 72px;
      padding-right: 72px;
    }

    .fr-search-bar {
      max-width: 800px;
    }

    .links {
      display: flex;
      flex-direction: column;

      a {
        background-image: unset;
      }
    }
  }

  .fr-sidemenu--sticky-full-height {
    @media(min-width: 767px) {
      margin-top: 2em;
    }

    .fr-sidemenu__inner {
      @media(min-width: 992px) {
        margin-left: 50px;
      }

      @media(min-width: 1440px) {
        margin-left: 120px;
      }

      @media(min-width: 1750px) {
        margin-left: 200px;
      }
    }

    ul {
      list-style-type: none;
    }
  }

  .fr-sidemenu__link {
    background-image: unset;
  }

  .card-swagger {
    background-color: var(--blue-france-925-125);
    max-height: 200px;

    @media(min-width: 1440px) {
      max-width: 300px;
      max-height: 250px;

      position: absolute;
      right: 300px;
      top: 420px;
    }
  }

  .documentation {
    padding-top: 24px;
    padding-bottom: 24px;

    margin-left: 10px;
    margin-right: 10px;

    @media(min-width: 575px) {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    @media(min-width: 992px) {
      margin-left: 50px;
      max-width: 750px;
    }

    @media(min-width: 1440px) {
      padding-top: 96px;
      padding-bottom: 96px;
    }

    @media(min-width: 1440px) {
      margin-left: 120px;
      max-width: 800px;
    }

    @media(min-width: 1750px) {
      max-width: 900px;
    }
  }
}
