article.endpoint {
  .providers {
    background-color: var(--g300);
    border-bottom: 5px solid var(--bf500);
    padding: 20px;

    .logos {
      text-align: center;
    }

    .text, .logos {
      padding: 10px;
    }

    img {
      max-height: 120px;
      max-width: 120px;
    }
  }

  hr.separator {
    border: 0;
    margin: 0;
    border-top: 1px solid var(--g300);
  }

  .use-cases, .details {
    padding: 25px 20px 50px 30px;
  }

  .use-cases {
    background-color: var(--g200);
  }

  .details {
    background-color: #D5DBEF;
  }

  .property {
    .description {
      border-left: 5px solid var(--g400);
      padding-left: 10px;
    }

    .sub-properties {
      border-left: 5px solid var(--g200);
      padding-left: 10px;
      margin-left: 10px;
    }
  }
}
