.faq-entry {
  .fr-copy-anchor-btn {
    @media (max-width: 1224px) {
      display: none;
    }

    position: relative;
    left: 8px;
    top: 2px;

    &:before {
      width: 1rem;
    }
  }

  .fr-accordion__title {
    display: inline-block;
    min-width: 96%;
  }
}
