.faq-entry {
  .fr-copy-anchor-btn {
    @media (max-width: 1440px) {
      display: none;
    }

    position: relative;
    top: -4px;
  }

  .fr-accordion__title {
    display: inline-block;
    min-width: 96%;
  }
}
