#user_details .user-general-infos {
  border: 1px solid var(--grey-950-100);
  border-radius: 2px;

  padding: 10px;
  padding-top: calc(10px + var(--li-bottom));
  margin-right: 10px;
}

#user_details .user-general-infos li {
  padding: 10px 5px;
  padding-left: 12px;
}

#user_details .user-general-infos li span {
  display: inline-block;
  vertical-align: -20%;
}

