<h1>Interface d'appel</h1>

<h5>Récupérez l'<strong>attestation sociale</strong> d'une entreprise ou d'une association, en entrant son numéro de siret.</h5>

<div class="fr-card fr-card--horizontal fr-card--no-arrow token-card">
  <div class="fr-card__body">
    <h4 class="fr-card__title">
      <% if user_signed_in? && current_user.any_token_with_attestation_role? %>
        <span class="fr-text--sm fr-m-0">
          <div data-controller="token">
            <div class="fr-select-group">
              <label class="fr-label" for="select">
                Jetons d'accès
              </label>
              <%= select_tag(
                :jwt_api_entreprise,
                options_for_select(current_user.jwt_api_entreprise.map { |jwt| [jwt.authorization_request.intitule, jwt.id] }),
                { class: "fr-select", id: "token", include_blank: true, data: {action: 'change->token#select'} }
              ) %>
            </div>
            <%= turbo_frame_tag "attestations_search" do %>
              Selectionnez un token pour voir les droits
            <% end %>
          </div>
        </span>
      <% end %>
    </h4>
  </div>
</div>
