<%= turbo_stream.update "attestations-token", target: '_top' do %>
  <div>
    <h4>Attestations disponibles pour ce token :</h4>
    <% if @jwt_facade.attestations_roles.nil? %>
      Veuillez sélectionner un token dans la liste.
    <% elsif @jwt_facade.attestations_roles.blank? %>
      Aucune attestation disponible avec ce token.
    <% else %>
      <ul>
        <% @jwt_facade.attestations_roles.map(&:name).each do |role| %>
          <li><%= role %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
