<%= turbo_stream.replace "attestations_result" do %>
  <div class="fr-callout fr-fi-information-line">
    <p class="fr-callout__title">Entreprise trouvée :</p>
    <p class="fr-callout__text"><%= @result['entreprise']['enseigne'] %></p>

    <% if @jwt_attestations_roles.map(&:code).include? 'attestations_sociales' %>
      <%= link_to "Attestation sociale", @url_attestation_sociale, { class: "fr-btn" } %>
    <% end %>
    <% if @jwt_attestations_roles.map(&:code).include? 'attestations_fiscales' %>
      <%= link_to "Attestation fiscale", @url_attestation_fiscale, { class: "fr-btn" } %>
    <% end %>
  </div>
<% end %>
