<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p> <%= link_to('suivant', @magic_link_url) %> <%= t('.link_description', count: @tokens.count) %></p>

    <p>Ce lien est temporaire. Il est valable jusqu'au <%= @expires_at %></p>
    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
