<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>Un lien vers votre ou vos jeton(s) d'accès vient d'être généré à votre intention. Vous pouvez accéder à ce jeton via le lien <%= link_to('suivant', @magic_link_url) %></p>

    <p>Ce lien est temporaire. Il est valable pour une durée de 4 heures pour une connection API Entreprise, ou 24h pour une connection API Particulier.</p>
    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
