<nav id="summary" class="fr-summary fr-summary--sticky fr-mb-8v" aria-labelledby="fr-summary-title">
  <p class="fr-summary__title" id="fr-summaru-title">
    <%= t('.menu') %>
  </p>
  <ol class="fr-summary__list">
    <li class="fr-summary__item">
      <a class="fr-summary__link" id="habilitation_main_token_infos_link" href="#habilitation_main_token_infos" target="_self">
        <%= t('.active_tokens') %>
      </a>
    </li>
    <% if policy(@main_token).download_attestations? %>
      <li class="fr-summary__item">
        <a class="fr-summary__link" id="attestations_sociales_et_fiscales_link" href="#attestations_sociales_et_fiscales" target="_self">
          <%= t('.attestations') %>
        </a>
      </li>
    <% end %>
    <li class="fr-summary__item">
      <a class="fr-summary__link" id="habilitation_contacts_infos_link" href="#habilitation_contacts_infos" target="_self" >
        <%= t('.contacts') %>
      </a >
    </li>
  </ol>
</nav>
