<section id="section-access" class="fr-background-default-white fr-pt-6w">
  <div class="fr-container">
    <div class="fr-grid-row">

      <div class="infos-left fr-col-xl-8">
        <h4 class="fr-mb-5w">Un accès direct, standardisé et documenté aux informations administratives&nbsp;:</h4>
        <div class="info fr-mb-3w">
          <span class="info--icon fr-icon-award-line fr-fi--huge" aria-hidden="true"></span>
          <div class="info--text">
            <h6 class="fr-mb-1w">Des données certifiées sur les entreprises/associations</h6>
            <p class="fr-text--alt fr-text--lg">
              Les données sont prises à la source. Terminé les fautes de frappes et les erreurs, l’information est certifiée et fait foi.
            </p>
          </div>
        </div>
        <div class="info fr-mb-3w">
          <%= image_tag("pictos/fournisseur-donnes.svg", class: %w(info--icon fr-fi--huge)) %>
          <div class="info--text">
            <h6 class="fr-mb-1w">Les fournisseurs de données regroupés</h6>
            <p class="fr-text--alt fr-text--lg">
              API Entreprise recherche et démarche pour vous les organisations ayant des données sur les entreprises et les associations.
            </p>
          </div>
        </div>
        <div class="info fr-mb-3w">
          <%= image_tag("pictos/un-seul-compte.svg", class: %w(info--icon fr-fi--huge)) %>
          <div class="info--text">
            <h6 class="fr-mb-1w">Un seul compte, un seul interlocuteur</h6>
            <p class="fr-text--alt fr-text--lg">
              API Entreprise agrège et restitue les connaissances techniques et fonctionnelles. Plus besoin de gérer plusieurs contacts techniques et fonctionnels ;
            </p>
          </div>
        </div>
        <div class="info fr-mb-3w">
          <%= image_tag("pictos/interfacage.svg", class: %w(info--icon fr-fi--huge)) %>
          <div class="info--text">
            <h6 class="fr-mb-1w">Un seul interfaçage technique</h6>
            <p class="fr-text--alt fr-text--lg">
              L’interfaçage est unique et dans des standards à jour des contraintes industrielles. Vous n’avez plus besoin de lire les documentations des différentes DSI.
            </p>
          </div>
        </div>
      </div>

      <div class="cards-right fr-col-xl-4">
        <div class="fr-grid-row">
          <div class="fr-card fr-m-5v fr-enlarge-link">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h4 class="fr-card__title">
                  <a href="/endpoints">Une documentation métier de chaque API</a>
                </h4>
                <p class="fr-card__desc">Liste des données, périmètre de l’API, conditions d’utilisations,&nbsp;...</p>
              </div>
            </div>
          </div>
        </div>

        <div class="fr-grid-row">
          <div class="fr-card fr-m-5v fr-enlarge-link">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h4 class="fr-card__title">
                  <a href="/developers">Un espace développeur</a>
                </h4>
                <p class="fr-card__desc">Spécifications techniques générales et dédiées à chaque API, Swagger, Kit de mise en production,&nbsp;...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
