<section id="section-demonstrateur">
  <div class="fr-container fr-p-5w center">
    <div class="fr-grid-row">
      <h2 class="fr-h3 fr-col-12"><%= t('.demo_title').html_safe %></h2>
      <p class="fr-col-12 fr-text--lead"><%= t('.demo_description') %></p>
    </div>
    <div>
     <a href="https://demonstrateur.particulier.api.gouv.fr/" class="fr-btn fr-btn--lg fr-m-1w" target="_blank"><%= t('.demo_link_title') %></a>
    </div>
  </div>
</section>