---
- uid: 'provider/resource'
  path: '/v3/provider/resource/{siren}'
  # Position au sein de l'index
  position: 501
  extra_description: |+
    Texte directement en dessous de la description. Ce champ peut-être omis (optionnel). Le markdown GFM est supporté ici.
  perimeter:
    description: |+
      Une description exhaustive du périmètre utilisée dans la fiche détaillée. Le markdown GFM est supporté ici.
    entity_type_description: |+
      Une description exhaustive des types d'entité renvoyés par le endpoint dans la fiche détaillée. Le markdown GFM est supporté ici.
    geographical_scope_description:  |+
      Une description exhaustive du scope géographique dans la fiche détaillée. Le markdown GFM est supporté ici.
    updating_rules_description: |+
      Les règles de mise à jour de la donnée dans al fiche détaillée. Le markdown GFM est supporté ici.
    know_more_description: |+
      Lien optionnel pour en savoir plus sur la donnée. Le markdown GFM est supporté ici.

    # La liste des clés disponible est stockée dans le fichier endpoint.fr.yml
    entities:
      - entreprises
      - associations
  # Texte libre
  call_id: "SIRET / RNA"
  # La liste des clés disponible est stockée dans la locale `provider_uids` du fichier provider_uids.fr.yml
  provider_uids:
    - 'insee'
  # Ces mots clés servent à la recherche algolia sur l'index du catalogue
  keywords:
    - 'whatever'
  data:
    description: |+
      Décrit le type / format des données délivrée par l'API. Le markdown GFM est supporté ici.

      # Pour ajouter un bloc de téléchargement pour un seul document PDF

      <div class="fr-downloads-group fr-downloads-group--bordered">    
        <h4 class="fr-downloads-group__title fr-text--lg fr-mb-1v">Exemple d'attestation&nbsp;:</h4>      
        <div class="fr-download">                
         <p>                    
          <a href="/files/exemple-fntp-carte-professionnelle-travaux-publics.pdf" download class="fr-download__link">
           Télécharger un exemple de carte professionnelle FNTP                       
           <span class="fr-download__detail">                            
           PDF – 623 Ko                        
           </span>                    
          </a>                
         </p>            
        </div>        
      </div>  

      # Pour ajouter un bloc de téléchargement pour plusieurs documents PDF

       <div class="fr-downloads-group fr-downloads-group--bordered">    
        <h4 class="fr-downloads-group__title fr-text--lg fr-mb-1v">Exemples de documents PDF&nbsp;:</h4>  
        <ul>        
         <li>            
          <div class="fr-download">                
           <p>                    
            <a href="/files/formulaire-unique-subventions-associations-cerfa_12156-06.pdf" download class="fr-download__link">
             Télécharger le document lorem ipsum sit dolores amet                        
             <span class="fr-download__detail">                            
             PDF – 161,88 Ko                        
             </span>                    
            </a>                
           </p>            
          </div>        
         </li>        
         <li>            
          <div class="fr-download">                
           <p>                    
            <a href="/files/formulaire-unique-subventions-associations-cerfa_12156-06.pdf" download class="fr-download__link">
             Télécharger le document lorem ipsum sit dolores amet                        
             <span class="fr-download__detail">                            
             PDF – 161,88 Ko                        
             </span>                    
            </a>                
           </p>            
          </div>        
         </li>        
        </ul>
      </div>        
  # Ne peut être que public ou protected
  opening: protected
  # Texte libre, cette donnée est affichée sur la page du endpoint
  use_cases_optional:
  use_cases_forbidden:
  use_cases:
    - Aides publiques
    - Marchés publics
    - Portail GRU - Préremplissage
    - Portail GRU - Instruction des démarches
    - Subventions associations
    - Détection de la fraude
  # Texte libre, cette donnée est affichée sur la page du endpoint
  parameters:
    - Numéro de SIREN de la personne physique ou morale recherchée
  format:
    - Donnée structurée JSON
  faq:
    - q: "Question ?"
      a: |+
        Réponse à la question. Le markdown GFM est supporté ici.
  historique: |+
    **Ce que change cette nouvelle version de l'API par rapport à la précédente :**
    Texte

    **Ce qui ne change pas :**
    Texte
  api_cgu:
    description: |+
        Les conditions d'utilisations spécifiques à l'API

