---
- uid: 'provider/resource'
  path: '/v3/provider/resource/{siren}'
  perimeter:
    summary: "Les entités atteignables. Le markdown GFM est supporté ici."
    description: "Une description exhaustive du périmètre. Le markdown GFM est supporté ici."
  # Liste des clés stockés dans la locale `providers`
  providers:
    - 'insee'
