---
# L'UID sert à identifier cette entrée de manière unique, et est utilisé pour l'URL de la fiche métier.
# On utilise en général <provider>/<resource>
# N'importe quelle valeur fonctionne tant qu'elle est unique
- uid: 'pole_emploi/situation'
  # Ne peut être que public ou protected
  opening: public
  # Le(s) paramètre(s) utilisé pour appeller l'endpoint
  # Utilisé dans le summary de la fiche (depuis '/catalogue')
  # Similaire à '- parameters' mais peut être différent pour des
  # raisons de lisibilité
  call_id:
    - Identité pivot
  # Paramètres d'appel, habituellement 'Identité pivot', 'FranceConnect'
  parameters:
    - Identité pivot
  # Path: doit correspondre au path dans le swagger
  # Exemple pour Paiements Pole Emploi en v2
  # Voir le swagger ici : https://github.com/etalab/siade/blob/272aa40577802afe59ebc5f3cded39d2c25107ae/swagger/openapi-particulierv2.yaml#L2272
  # Le path est '/api/v2/paiements-pole-emploi' (copier ligne 2272)
  # Swagger Particulier v2 ici : https://github.com/etalab/siade/blob/develop/swagger/openapi-particulierv2.yaml
  # Swagger Particulier v3 ici : https://github.com/etalab/siade/blob/develop/swagger/openapi-particulier.yaml
  # En cas de 2 routes selon modalité Identité VS FranceConnect, mettre la route qui finit en /identite
  path: '/api/v2/paiements-pole-emploi'
  # Route de ping
  # Optionnel
  # La route complète vers l'endpoint avec /ping à la fin
  # En cas de doute consulter la sonde hyperping si elle a été ajoutée
  ping_url: 'https://particulier.api.gouv.fr/api/v2/paiements-pole-emploi/ping'
  # Position au sein de l'index
  # Ce chiffre (arbitraire) détermine l'ordre d'affichage dans le catalogue : La fiche avec position 1 sera avant la fiche 2
  position: 200
  # Tags - à ne mettre que lorsque l'API n'est plus en mode prochainement
  # Le tag "prochainement" s'affiche automatiquement à partir du moment où l'API est en mode prochainement dans le swagger. Mais si un autre tag est ajouté, alors il ne s'affiche pas.
  # Tag "Nouveauté" / "Nouvelle version" / "Version BETA"
  novelty: true # ou new_version: true / ou beta: true
  # Facultatif: dans le cas où une nouvelle version est disponible;
  # L'ancienne version doit avoir la clef 'old_endpoint_uids' avec la valeur de l'UID actuel (ici, 'pole_emploi/situation')
  # Supprimer cette clef dans les autres cas de figure
  new_endpoint_uids:
    - 'pole_emploi/deprecated_old_version/situation'
  # la clef alert est optionnelle
  alert:
    title: "Titre de l'alerte"
    description: |+
      Message en markdown de l'alerte.
  extra_description: |+
    Texte directement en dessous de la description. Ce champ peut-être omis (optionnel). Le markdown GFM est supporté ici.
  perimeter:
    entity_type_description: |+
      Une description exhaustive des types d'entité renvoyés par le endpoint dans la fiche détaillée. Le markdown GFM est supporté ici.
    geographical_scope_description:  |+
      Une description exhaustive du scope géographique dans la fiche détaillée. Le markdown GFM est supporté ici.
    updating_rules_description: |+
      Les règles de mise à jour de la donnée dans al fiche détaillée. Le markdown GFM est supporté ici.
    know_more_description: |+
      Lien optionnel pour en savoir plus sur la donnée. Le markdown GFM est supporté ici.

  parameters_details:
    description: |+
      Cette API propose XXX modalités d'appel :
      <p class="r-badge fr-badge--brown-cafe-creme">Identité pivot</p>
      Avec les données d'identité : Lorem ipsum

      <p class="fr-badge fr-badge--purple-glycine">Identifiant</p>
      Avec TYPE IDENTIFIANT : Lorem ipsum

      <p class="fr-badge fr-badge--blue-ecume">FranceConnect</p>
      Avec FranceConnect.
  data:
    description: |+
      Lorem ispum

  # La liste des clés disponible est stockée dans la locale `provider_uids` du fichier provider_uids.fr.yml
  provider_uids:
    - 'insee'
  keywords:
    - 'whatever'
  faq:
    - q: "Question ?"
      a: |+
        Réponse à la question. Le markdown GFM est supporté ici.
  api_cgu:
    description: |+
        Les conditions d'utilisations spécifiques à l'API


