<h2>Profil de l'organisation</h2>

<p>Adresse email : <%= @user.email %></p>
<p>Siret de l'organisation : <%= @user.context %></p>

<%= button_to 'Déléguer le compte utilisateur', '#', id: 'transfer_account' %>
