<% content_for :body do %>
  <div class="authenticated-user fr-grid-row">
    <div class="fr-col-12 fr-col-sm-4 fr-col-md-3">
      <%= render partial: 'shared/api_entreprise/user_signed_in_side_menu' %>
    </div>
    <div class="fr-col-12 fr-col-sm-8 fr-col-md-9">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/api_entreprise/application" %>
