<% %i[error info success].each do |kind| %>
  <% if flash[kind].present? %>
    <div class="fr-alert fr-alert--<%= kind %> fr-mb-8v" id="<%= flash[kind]['id'] %>">
      <p class="fr-alert__title">
        <%= flash[kind]['title'] %>
      </p>

      <% if flash[kind]['description'] %>
        <%= simple_format(flash[kind]['description']) %>
      <% end %>
    </div>
  <% end %>
<% end %>
