<dialog aria-labelledby="fr-modal-2-title" id="main-modal" class="fr-modal" role="dialog">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link" aria-controls="main-modal">Fermer</button>
          </div>

          <turbo-frame id="main-modal-content">
            <%= image_tag('loading.gif') %>
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</dialog>
