<div class="fr-follow">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <div class="fr-follow__newsletter">
          <div>
            <h5 class="fr-h5 fr-follow__title"><%= t('.title')%></h5>
            <p class="fr-text--sm fr-follow__desc"><%= t('.description')%></p>
          </div>
          <div>
            <%= link_to t('.button'), root_path(anchor: 'newsletter-title'), class: %w(fr-btn) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
