<turbo-frame id="main-modal-content">
  <div class="single-page">
    <h3 class="center">
      <%= t('.title') %>
    </h3>

    <div class="keep-within-block">
      <pre>
        <code><%= JSON.pretty_generate(@endpoint.example_payload) %></code>
      </pre>
    </div>
  </div>
</turbo-frame>
