<h2><%= t('.title', title: @token.displayed_subject) %></h2>

<p>
  <%= link_to t('.links.user_tokens'), user_tokens_path, id: :user_tokens_link %>
<p>

<p>
  <span><%= t('.details.internal_id', id: @token.id) %></span>
</p>

<div id="calls_rate">

</div>

<div id="calls_number">

</div>

<div id="calls_detail">

</div>
