#developers .banner {
  background-color: #d1dad8;

  .fr-search-bar {
    max-width: 800px;
  }

  .links {
    display: flex;
    flex-direction: column;

    a {
      background-image: unset;
    }
  }
}
