#developers .banner {
  background-color: #d1dad8;

  padding-left: 8px;
  padding-right: 8px;

  @media(min-width: 575px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media(min-width: 767px) {
    padding-left: 72px;
    padding-right: 72px;
  }

  .fr-search-bar {
    max-width: 800px;
  }

  .links {
    display: flex;
    flex-direction: column;

    a {
      background-image: unset;
    }
  }
}
