#developers .fr-sidemenu--sticky-full-height {
  .fr-sidemenu__inner {
    @media(min-width: 992px) {
      margin-left: 50px;
    }

    @media(min-width: 1440px) {
      margin-left: 120px;
    }

    @media(min-width: 1750px) {
      margin-left: 200px;
    }
  }

  .fr-sidemenu__link {
    background-image: unset;
  }

  ul {
    list-style-type: none;
  }
}
