<turbo-frame id="current_status">
  <a href="https://status.entreprise.api.gouv.fr" alt="API Entreprise Status Page" target="_blank">
    <%= t('.title') %> : <span class="circle circle-<%= status_to_color(@current_status) %>"></span> <%= t(".values.#{@current_status}") %>
  </a>
</turbo-frame>
