<div id="homepage">
  <section class="center fr-pt-8w fr-pb-8w">
    <h1 class="fr-text--regular">
      <span class="fr-text--bold">Administrations, gagnez du temps</span><br>
      dans le traitement des dossiers 🗂<br>
      des entreprises et des associations !
    </h1>

    <button class="fr-btn fr-m-1w ">Je consulte les données disponibles&nbsp;<span class="fr-icon-arrow-right-line" aria-hidden="true" /></button>

    <button class="fr-btn fr-btn--secondary fr-m-1w ">J'intègre l'API&nbsp;<span class="fr-icon-settings-5-line fr-fi--md" aria-hidden="true" /></button>
  </section>

  <section id="section-access" class="fr-background-default-white">
    <div class="infos-left">
      <h4>Un accès direct, standardisé et documenté aux informations administratives&nbsp;:</h4>
      <div class="info">
        <span class="info--icon fr-icon-award-line fr-fi--huge" aria-hidden="true"></span>
        <div class="info--text">
          <h5>Des données certifiées sur les entreprises/associations</h5>
          <p class="fr-text--alt fr-text--lead">Les données sont prises à la source. Terminé les fautes de frappes et les erreurs, l’information est certifiée et fait foi.</p>
        </div>
      </div>
      <div class="info">
        <span class="info--icon fr-icon-git-merge-line fr-fi--huge" aria-hidden="true"></span>
        <div class="info--text">
          <h5>Les fournisseurs de données regroupés</h5>
          <p class="fr-text--alt fr-text--lead ">API Entreprise recherche et démarche pour vous les organisations ayant des données sur les entreprises et les associations.</p>
        </div>
      </div>
      <div class="info">
        <span class="info--icon fr-icon-award-line fr-fi--huge" aria-hidden="true"></span>
        <div class="info--text">
          <h5>Un seul compte, un seul interlocuteur</h5>
          <p class="fr-text--alt fr-text--lead">API Entreprise agrège et restitue les connaissances techniques et fonctionnelles. Plus besoin de gérer plusieurs contacts techniques et fonctionnels ;</p>
        </div>
      </div>
      <div class="info">
        <span class="info--icon fr-icon-git-merge-line fr-fi--huge" aria-hidden="true"></span>
        <div class="info--text">
          <h5>Un seul interfaçage technique</h5>
          <p class="fr-text--alt fr-text--lead">L’interfaçage est unique et dans des standards à jour des contraintes industrielles. Vous n’avez plus besoin de lire les documentations des différentes DSI.</p>
        </div>
      </div>
    </div>

    <div class="cards-right">
      <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h4 class="fr-card__title">
              <a href="#">Une documentation métier de chaque API</a>
            </h4>
            <p class="fr-card__desc">Liste des données, périmètre de l’API, conditions d’utilisations,&nbsp;...</p>
          </div>
        </div>
      </div>

      <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h4 class="fr-card__title">
              <a href="#">Un espace développeur</a>
            </h4>
            <p class="fr-card__desc">Spécifications techniques générales et dédiées à chaque API, Swagger, Kit de mise en production,&nbsp;...</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
