<h1>
  <%= t('.title') %>
</h1>

<p>
  <%= t('.description').html_safe %>
</p>

<div class="fr-mt-5w" id="redoc_container">
</div>

<script src="https://cdn.jsdelivr.net/npm/redoc@latest/bundles/redoc.standalone.js">
</script>

<script>
  var uri = '<%= openapi_definition_path %>';

  document.addEventListener("turbo:load", function () {
    Redoc.init(
      uri,
      {
        jsonSampleExpandLevel: 'all',
        expandResponses: '200',
        expandSingleSchemaField: true,
        schemaExpansionLevel: 'all'
      },
      document.getElementById('redoc_container')
    )
  });
</script>
