<h1>
  <%= t('.title') %>
</h1>

<p>
  <%= t('.description').html_safe %>
</p>

<div class="fr-mt-5w" id="redoc_container">
</div>

<script src="https://cdn.jsdelivr.net/npm/redoc@latest/bundles/redoc.standalone.js">
</script>

<script>
  var uri = <% if Rails.env.production? %> 'https://entreprise.api.gouv.fr/v3/openapi.yaml' <% else %> '../api-entreprise-v3-openapi.yml' <% end %>
  document.addEventListener("turbo:load", function () {
    Redoc.init(
      uri,
      {
        noAutoAuth: true,
        jsonSampleExpandLevel: 'all'
      },
      document.getElementById('redoc_container')
    )
  });
</script>
