<div class="iframe-container">
  <iframe
      id="stats-api-particulier"
      src="https://metabase.entreprise.api.gouv.fr/public/dashboard/6de16a37-f4ad-495c-9dd9-60d2995e3e7f"
      class="responsive-iframe"
      allowtransparency
      ></iframe>
</div>
