<h1><%= subtitle %></h1>

<%= render 'shared/token_share_warning' %>

<div class="fr-grid-row">
  <% if tokens %>
    <% tokens.each do |token| %>
      <div class="fr-col-12 fr-pb-2w">
        <%= render token %>
      </div>
    <% end %>
  <% end %>
</div>
