<a
  href="<%= token_path(id: authorization_request.token.id) %>"
  id="<%= dom_id(authorization_request, :show_token_modal_link) %>"
  class="fr-btn fr-btn--icon-right fr-mt-2w"
  aria-controls="main-modal"
  data-fr-opened="false"
  data-turbo-frame="main-modal-content"
>
  <%= label %>
</a>
