development:
  token_expiration_notice:
    cron: '0 1 * * *'
    class: 'TokenExpirationNoticeJob'

shared_jobs: &shared_jobs
  token_expiration_notice:
    cron: '0 */4 * * *'
    class: 'TokenExpirationNoticeJob'
  healthcheck:
    cron: '*/5 * * * *'
    class: 'HealthcheckJob'

production:
  <<: *shared_jobs
  monitor_alert:
    cron: '0 9 * * *'
    class: 'MonitorAlertJob'

staging: *shared_jobs
sandbox: *shared_jobs
