development:
  token_expiration_notice:
    cron: '0 1 * * *'
    class: 'TokenExpirationNoticeJob'

production: &deployed
  token_expiration_notice:
    cron: '0 */4 * * *'
    class: 'TokenExpirationNoticeJob'
  healthcheck:
    cron: '*/5 * * * *'
    class: 'HealthcheckJob'
  monitor_alert:
    cron: '0 9 * * *'
    class: 'MonitorAlertJob'

staging: *deployed
sandbox: *deployed
