#homepage #section-partners {
  background-color: #d1d3de;

  .provider-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .providers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-provider {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-bottom: var(--border-plain-blue-france) 5px solid;
    width: 200px;
    height: 200px;

    img {
      object-fit: scale-down;
      width: 120px;
      height: 120px;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
