#homepage #section-developers {
  background-color: #d1dad8;

  .cards {
    @media(min-width: 576px) {
      display: flex;
      flex-wrap: wrap;

      .fr-card {
        max-width: 250px;
      }
    }

    .fr-card {
      background-color: var(--blue-france-925-125);
    }

    .fr-card:last-of-type {
      background-color: #eeeeee;

      iframe {
        position: relative;
        top: 10px;
      }
    }
  }
}

