#homepage #section-obtain {
  a {
    background-image: unset;
  }

  .left-info {
    &--cards {
      .fr-card {
        max-width: 320px;
      }
      .fr-card:first-of-type {
        background-color: var(--blue-france-925-125) !important;
      }
      .fr-card:last-of-type {
        background-color: #fce5e7 !important;
      }
    }
  }

  .right-info {
    ul {
      text-align: left;
    }
  }
}
