<div class="fr-container fr-mb-12w fr-mt-12w center">
  <h1 class="text-xl">
    <%= t(".#{@rescue_response}.title") %>
  </h1>

  <% if I18n.exists?("errors.show.#{@rescue_response}.sentence") %>
    <p>
      <%= t(".#{@rescue_response}.sentence") %>
    </p>
  <% end %>
</div>
