<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>Suite à une demande de transfert de compte, l'utilisateur <%= @user.email %> ayant pour ID technique API Gouv <%= @user.oauth_api_gouv_id %> vient de se connecter pour la première fois au compte utilisateur API Entreprise !</p>

    <p>Cet usager est maintenant garant des jetons associés aux demandes d'accès DataPass dont voici les ID : <%= @authorization_requests_ids %>.</p>

    <p>Merci de vous assurez que l'usager est bien le propriétaire de ces demandes d'accès dans DataPass !</p>

    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
