Bonjour et bienvenue,

<%= @old_owner.email %> propose de vous transférer les habilitations API Entreprise de votre
organisation en vous transmettant sa place de contact principal. Ce rôle vous permet d'accéder aux clés d'accès (tokens) API Entreprise, à leurs statistiques
d'utilisation et à l'interface de téléchargement des attestations fiscales et sociales si vos jetons sont pourvus de ces droits. Vous serez également en charge de valider la prolongation des clés d'accès et aurez la possibilité de demander des évolutions de l'habilitation comme par exemple l'accès à d'autres API.

Le transfert définitif de la responsabilité des habilitations nécessite que vous vous connectiez à <%= link_to 'votre espace usager API Entreprise', @login_url
%> avec votre adresse e-mail <%= @new_owner.email %>
Toute connexion à ce compte de votre part vaut acceptation de nos
<a href="https://entreprise.api.gouv.fr/cgu">CGU</a>. 

Une fois cette connexion effectuée, une validation manuelle de nos services sera nécessaire pour relier les habilitations à votre compte. Cette validation peut
prendre quelques jours.

Vous ne souhaitez pas prendre la responsabilité du compte actuellement détenu par <%= @old_owner.email %> ou avez
des interrogations ? Vous pouvez nous écrire par retour de mail.

Cordialement,
L'équipe API Entreprise