<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>Un de vos jetons d'accès à API Entreprise expire dans moins de <%= @nb_days %> jours.</p>

    <p>En effet, le jeton attribué dans le cadre d'utilisation "<%= @jwt.subject %>" (id : <%= @jwt.id %>) ne sera bientôt plus valide !

    <p><strong>Passée la date du <%= friendly_format_from_timestamp(@jwt.exp) %> les appels à API Entreprise avec ce jeton seront rejetés.</strong></p>


    <p>Pour obtenir un nouveau jeton il vous faut faire une nouvelle demande d'accès comme décrit ici : https://entreprise.api.gouv.fr/doc/#renouvellement-token</p>

    <p>Il n'est pas nécessaire de créer un nouveau compte d'accès au dashboard, seul un nouveau jeton vous sera créé lorsque votre demande aura été validée, il sera alors disponible dans votre espace client à l'adresse : <a href="https://dashboard.entreprise.api.gouv.fr/login">https://dashboard.entreprise.api.gouv.fr/login</a></p>

    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
