<p>
  <% if @full_name.nil? %>
    Bonjour,
  <% else %>
    Bonjour <%= @full_name %>,
  <% end %>
</p>

<p>
  Il y a quelques jours, votre demande d'accès à l'API Entreprise N°[XXXX] a été validée par nos services juridiques.<br />
  Nous menons actuellement une enquête pour améliorer notre service, et dans ce cadre, nous aurions aimé avoir votre retour d'expérience.
</p>

<p>
  Le formulaire suivant, qui devrait vous prendre 5 minutes, nous permettra d'évaluer votre satisfaction sur le parcours d'accès à l'API Entreprise,
  d'identifier des pistes d'amélioration et de recueillir vos besoins actuels&nbsp;:
</p>

<p>
  <%= link_to("Répondre à l'enquête utilisateur", 'https://startupdetat.typeform.com/to/bFo1H9NJ') %>
</p>

<p>
  Merci par avance pour votre participation,
</p>

<p>
  Toute l'équipe API Entreprise
</p>
