<p>
  Bonjour,
</p>

<p>
  Il y a quelques jours, votre demande d'accès à l'API Entreprise n°<%= @jwt.authorization_request_id %> a été validée par nos services juridiques.<br />
  Nous aimerions comprendre comment s'est déroulée votre habilitation à l'API Entreprise, et recueillir vos besoins actuels :
</p>

<p>
  <%= render 'jwt_api_entreprise_mailer/satisfaction_survey/embed_typeform' %>
</p>

<p>
  À bientôt,
</p>

<p>
  Toute l'équipe API Entreprise
</p>
