<div id="developers" class="fr-container--fluid">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-sm-12 fr-col-md-3 fr-col-lg-3 fr-col-xl-3 fr-mt-8v">
      <%= render 'menu' %>
    </div>

    <div class="fr-col-12 fr-col-sm-12 fr-col-md-9 fr-col-lg-9 fr-col-xl-9 fr-background-default-white">
      <%= render 'banner' %>

      <div class="documentation doc_markdown_to_html">
        <% @migration_entries.each do |entry| %>
            <%= raw entry.markdownify %>
        <% end %>
      </div>
    </div>
  </div>
</div>
