#attestations {
  display: flex;
  flex-direction: row;

  .form-container {
    width: 300px;

    * {
      margin: 10px 3px 10px 3px;
    }
  }

  #attestations-token {
    margin: 10px;

    p {
      margin-top: 10px;
    }
  }
}

#search_siret {
  width: 200px;
}
