.circle {
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  vertical-align: -5%;
  width: 14px;

  &.circle-success {
    background-color: var(--success);
  }

  &.circle-error {
    background-color: var(--error);
  }

  &.circle-info {
    background-color: var(--info);
  }

  &.circle-undefined {
    background-color: var(--grey-425-625);
  }
}
