.endpoint-card {
  background-color: var(--w);
  box-shadow: var(--card-box-shadow);

  margin: 50px 0;

  & > .wrapper {
    padding: 25px 35px;
  }

  & > footer {
    position: relative;
    background-color: var(--g200);
    padding: 15px 20px;

    .availability {
      position: absolute;
      top: 38px;
      left: 30px;
    }
  }

  .providers {
    & > .wrapper {
      text-align: center;
      width: 100%;
    }

    img {
      max-height: 120px;
      max-width: 120px;
    }
  }
}
