.progress-bar-light-grey {
  color:#000 !important;
  background-color:#f1f1f1!important;
  width: 100%;
}

.progress-bar-round {
  border-radius: 16px
}

.progress-bar-container {
  height: 16px;
  padding:0.01em 16px
}

.progress-bar-green {
  background-color: var(--green-emeraude-main-632)
}

.progress-bar-orange {
  background-color: var(--orange-terre-battue-main-645)
}

.progress-bar-red {
  background-color: var(--red-marianne-main-472)
}
