.user_details {
  .profile, .note {
    margin-bottom: 1.5rem;

    form textarea{
      background-color: white;
      box-sizing: border-box;
      padding: 1rem;
      border: 1px solid #c9d3df;
      border-radius: 3px;
      margin-bottom: 0.5rem;

      width: 100%;
      max-width: 100%;
      resize: none;
    }

    & > .well {
      background-color: white;
      box-sizing: border-box;
      padding: 1rem;
      border: 1px solid #c9d3df;
      border-radius: 3px;
      margin-bottom: 0.5rem;


      & > .well_element {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;

        & > .title {
          font-weight: 700 !important;
          font-size: 1rem !important;
          line-height: 1.25rem !important;
          margin-bottom: 0.125rem;
        }
      }
    }
  }

  .note > .well + .fr-btn {
    margin: 0 0 1rem;
  }
}

.hidden { display: none; }

