// Hack to keep contents within block, fix some issues in mobile view
.keep-within-block {
  max-width: calc(100vw - 2rem);
  overflow-x: scroll;
}

@media (max-width: 48em) {
  .keep-within-block-mobile {
    max-width: calc(100vw - 2rem);
    overflow-x: scroll;
  }
}
