<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12">
    <div class="fr-grid-row fr-grid-row--middle fr-mb-2w">
      <div class="fr-col">
        <h1>Tableau de bord - <%= current_provider.name %></h1>
      </div>
    </div>

    <div class="fr-grid-row">
      <div class="fr-col-12">
        <% if @embed_url.present? %>
          <div class="fr-card">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <iframe 
                  src="<%= @embed_url %>" 
                  frameborder="0" 
                  width="100%" 
                  height="800" 
                  allowtransparency
                ></iframe>
              </div>
            </div>
          </div>
        <% else %>
          <div class="fr-alert fr-alert--info">
            <p>Le tableau de bord n'est pas encore disponible.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>