/*
 *= require dsfr-fonts
 *= require dsfr
 *= require dsfr-extensions
 *= require dsfr-utility
 *= require_self
 *= require_tree ./components
 *= require_tree ./pages
 *= require shame
 */

:root {
  --success: var(--text-default-success);
  --error: var(--text-default-error);
  --info: var(--text-default-info);
  --w: var(--background-default-grey);

  --card-box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
  --card-background-color: white;
}

body {
  background-color: var(--grey-975-75);
}

turbo-frame {
  display: block;
}

[class^="ri-"] {
  font-size: 1.5rem;
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.search-highlight {
  background-color: rgba(255, 255, 154, 0.637);
}

p {
  margin-bottom: 1rem;
}

.authenticated-user .main-content {
  background-color: var(--w);
  padding: 20px;
}

@media (max-width: 48em) {
  .authenticated-user-sidemenu {
    margin-top: -2.5rem !important;
    margin-bottom: 2.5rem !important
  }
}
