/*
 *= require dsfr-fonts
 *= require dsfr
 *= require_tree .
 *= require_self
 */

body {
  background-color: var(--g100);
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

@media (max-width: 48em) {
  .authenticated-user-sidemenu {
    margin-top: -2.5rem !important;
    margin-bottom: 2.5rem !important
  }
}
