<div class="iframe-container">
  <iframe
      id="stats-api-entreprise"
      src="https://metabase.entreprise.api.gouv.fr/public/dashboard/e21aab06-f1f8-46ad-8102-55bc0feb1198"
      class="responsive-iframe"
      allowtransparency
      ></iframe>
</div>
