<h2 class="center">
  <%= t('.title').html_safe %>
</h2>

<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-md-6 fr-col-offset-md-3 fr-col-12 center">
      <div class="fr-card fr-card--horizontal fr-card--no-arrow">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <%= form_with(url: login_api_gouv_path, method: :post, data: { turbo: false }) do |f| %>
              <%= f.button t('.button'), class: %w(fr-btn fr-btn--md), id: 'datapass_login' %>
            <% end %>

            <p class="fr-mt-2w fr-mb-0">
              <%= t('.disclaimer').html_safe %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
