<turbo-frame id="current_status">
  <a class="fr-link" href="https://status.<%= namespace == 'api_entreprise' ? 'entreprise' : 'particulier' %>.api.gouv.fr" title="API <%= namespace.humanize %> Status Page" target="_blank">
    <span class="circle circle-<%= status_to_color(@current_status) %> fr-mr-1w"></span> <%= t('.title') %>
  </a>
</turbo-frame>
