<h1 class="center">
  Mentions légales
</h1>

<h2>
   Éditeur de la plateforme
</h2>

<p>
  La plateforme « <%= namespace.humanize %> » est éditée par le département «&nbsp;Opérateur de produits interministériels&nbsp;», de la Direction interministérielle du numérique (DINUM) située :<br/> 
  20 avenue de Ségur<br/>
  75007 Paris<br/>
  France
</p>

<h2>
  Directrice de la publication
</h2>

<p>
  La directrice de la publication est Madame Stéphanie SCHAER, Directrice de la DINUM.
</p>

<h2>
  Hébergement de la plateforme
</h2>

<p>
  La plateforme est hébergée par OVH SAS - RCS Roubaix – Tourcoing 424 761 419 00045, situé : 
  <br/>
  2 rue Kellermann<br/>
  59100 Roubaix<br/>
  France.
</p>

<h2>
  Accessibilité 
</h2>

<p>
  La plateforme est <a href="https://<%= namespace == 'api_entreprise' ? 'entreprise' : 'particulier' %>.api.gouv.fr/accessibilite">non-conforme</a>, nous tâchons de la rendre accessible à toutes et à tous.
</p>

<h2>
  Sécurité
</h2>

<p>
  La plateforme est protégée par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas. Cette protection participe à la confidentialité des échanges. 

  En aucun cas les services associés à la plateforme ne seront à l’origine d’envoi de courriels pour demander la saisie d’informations personnelles.
</p>

<h2>
  Délégué à la protection des données
</h2>

<p>
  Si vous souhaitez obtenir des informations sur les traitements de données personnelles gérés par un
  Service Premier Ministre vous pouvez contacter le délégué à la protection des données (DPD)
  par courriel à l’adresse <a href="mailto:dpd@pm.gouv.fr">dpd@pm.gouv.fr</a> et par courrier à l’adresse suivante :
</p>

<p>
  Service du Premier ministre
  <br>
  À l'attention du délégué à la protection des données (DPD)
  <br>
  56 rue de Varenne
  <br>
  75700 Paris
</p>
