<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Connexion échouée</title>
  </head>
  <body>
    <h1>Connexion échouée</h1>
    <p><%= @message %></p>
    <p><a href="/settings">Retour aux paramètres</a></p>
  </body>
</html>
