env:
  CI: true
  COVERAGE: true
  RUBY_VERSION: 3.0.3

name: CI
on: [push]
jobs:
  test:
    name: Tests (RSpec)
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: admin_apientreprise
          POSTGRES_PASSWORD: wow*verysecret
          POSTGRES_DB: admin_apientreprise_test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      redis:
        image: redis
        ports: ["6379:6379"]
        options: --entrypoint redis-server

    steps:
      - name: Dump Github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}

      # - name: Setup tmate session (for debugging purpose)
      #   uses: mxschmitt/action-tmate@v2

      - name: Install postgres client #and imagemagick
        run: sudo apt-get install libpq-dev #imagemagick

      # - name: Authorize PDF manipulation for imagemagick
      #   run: |
      #     sudo grep -v PDF /etc/ImageMagick-6/policy.xml > policy.xml
      #     sudo cp policy.xml /etc/ImageMagick-6/policy.xml

      - name: Cache Gems
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-1-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-1-

      - name: Bundle install
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundler install --jobs 4 --retry 3

      - name: Lint with rubocop
        run: bundle exec rubocop

      - name: Create database
        env:
          POSTGRES_USER: admin_apientreprise
          POSTGRES_PASSWORD: wow*verysecret
          POSTGRES_DB: admin_apientreprise_test
          POSTGRES_HOST: localhost
          POSTGRES_PORT: ${{ job.services.postgres.ports[5432] }}
        run: |
          bundler exec rails db:create RAILS_ENV=test
          PGPASSWORD="${{ env.POSTGRES_PASSWORD }}" psql -h ${{ env.POSTGRES_HOST}} -U ${{ env.POSTGRES_USER }} -d ${{ env.POSTGRES_DB }} --command 'CREATE EXTENSION IF NOT EXISTS pgcrypto;'
          bundler exec rails db:schema:load RAILS_ENV=test

      - name: Run tests
        run: bundle exec rspec

      - name: Force push develop to master
        run: |
          if [ `git branch --show-current` = "develop" ] ; then
            git reset --hard && \
              git push --force origin develop:master && \
              git fetch && \
              [[ ! -s \"$(git rev-parse --git-dir)/shallow\" ]] || git fetch --unshallow

            exit 0
          fi
